.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.add-button {
  margin-top: 10px;
  margin-right: 10%;
}

button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5spx;
  font-size: 14px;
  color: white;
  background: url("https://atlantic-freight.com/s/i/plus-button.png") no-repeat 10px #4fda4f;
  background-size: 20px auto;
  padding-left: 35px;
  cursor: pointer;
}

@media (max-width: 500px) {
  button {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }
}
