.main-container {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  height: 7%;
  min-width: 100%;
}

.breadcrumbs {
  height: 7%;
}

.main {
  padding-bottom: 30px;
  min-height: 79%;
  min-width: 100%;
  width: 100%;
  background: #e4e1e1;
}

.footer {
  height: 7%;
  min-width: 100%;
}
