.container {
  color: grey;
  background-color: #453636;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div {
  position: absolute;
  right: 5%;
}
