button {
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 90px;
    color: white;
    cursor: pointer;


    background: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/delete-1432400-1211078.png') no-repeat 8px rgb(91, 167, 221);
    background-size: 10px auto;
    padding-left: 20px;

}