.container {
    color: white;
    background-color: rgb(69, 54, 54);
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-box {
    margin-left: 10%;
    width: 30%;
    display: flex;
    flex: 0 1 auto;
    align-items: center;

    img {
        height: 60px;
    }

    .title {
        margin-left: 3%;
        font-size: 14px;
    }
}

.login-form {
    width: 40%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .user-login {
        padding-left: 15%;
        width: 60%;
        display: flex;
        align-items: center;
    }

    .user-log-of {
        width: 30%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    img {
        padding-right: 10px;
        height: 30px;
    }

    input {
        min-width: 50px;
        color: whitesmoke;
        background-color: rgb(69, 54, 54);
    }
}

@media (max-width: 950px) {
    h1 {
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    .container {
        font-size: 12px;
    }

    h1 {
        font-size: 12px;
    }

    img {
        height: 25px;
    }
}

.login-form {
    width: 60%;
    flex: 1 0 auto;
}