.container {

    color: white;
    background-color: rgb(69, 54, 54);
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-box {
    margin-left: 10%;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    cursor: pointer;

    .img {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 70%;
        }
    }

    .title {
        margin-left: 3%;

        h1 {
            margin: 0;
            font-size: 28px;
        }
    }
}

.login-form {
    margin-right: 10%;
    width: 70%;
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;

    .user-login {
        width: 25%;
        display: flex;
        align-items: center;
    }

    .user-log-of {
        padding-left: 3%;
        padding-right: 1%;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        p {
            &:hover {
                transform: scale(105%);
            }
        }
    }

    img {
        padding-right: 10px;
        height: 30px;
    }

    input {
        min-width: 50px;
        color: whitesmoke;
        background-color: rgb(69, 54, 54);
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}

@media (max-width: 1270px) {
    .left-box {
        .title {
            h1 {
                margin: 0;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }

    p {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .container {
        font-size: 12px;
    }

    .title {
        h1 {
            font-size: 12px;
        }
    }

    img {
        height: 25px;
    }

    .login-form {
        .user-login {
            width: 45%;
        }

        .user-log-of {
            width: 40%;
        }

        p {
            font-size: 12px;
        }
    }
}

.login-form {
    width: 60%;
    flex: 1 0 auto;
}