.container {
    color: grey;
    background-color: rgb(69, 54, 54);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.author {
    margin-right: 10%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}