<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Login</h2>
            </div>
            <div class="e-mail">
                <div class="email__top top">
                    <div class="email__subtitle  subtitle">
                        <label for="email" class="email__label main-label">E-mail:</label>
                    </div>
                </div>
                <div class="email__input input">
                    <input formControlName="email" type="text" id="email" placeholder="Enter email">
                </div>
                <div class="email__errors errors">
                    <p *ngIf="loginForm.get('email')?.touched && loginForm.hasError('required', ['email'])"
                        class="email__invalid invalid"> Please enter email</p>
                    <p *ngIf="loginForm.get('email')?.touched && loginForm.hasError('email', ['email'])"
                        class="email__invalid invalid">It should be an email</p>
                </div>
            </div>
            <div class="password">
                <div class="password__top top">
                    <div class="email__subtitle  subtitle">
                        <label for="pass" class="email__label main-label">Password:</label>
                    </div>
                </div>
                <div class="email-input input">
                    <input formControlName="password" type="password" id="pass" placeholder="Enter a password">
                </div>
                <div class="password__errors errors">
                    <p *ngIf="loginForm.get('password')?.touched && loginForm.hasError('required', ['password'])">
                        Please enter a
                        password</p>
                </div>
            </div>
            <div class="form__footer">
                <div class="forgot-pass">
                    <a>Forget password?</a>
                </div>
                <button [disabled]="!loginForm.valid" type="submit" class="button">Login</button>
            </div>
        </div>
    </div>
</form>