.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}


.serch-form {
    margin-bottom: 1%;
    min-height: 5%;
}

.add-course {
    margin-bottom: 1%;
    min-height: 5%;
}

.pages {
    margin-bottom: 2%;
    max-height: 74%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    app-courses-page {
        min-height: 33.3333333333%;
    }
}

.load-more {
    height: 8%;
    margin-bottom: 20px;
}

.no-data {
    margin: 0 10%;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    max-width: 100%;
    text-align: center;
}

.button__row {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.add-button {
    margin-right: 10%;
    min-height: 90%;

    button {
        max-width: 120px;
        height: 90%;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: white;
        background: url('https://atlantic-freight.com/s/i/plus-button.png') no-repeat 10px rgb(79, 218, 79);
        background-size: 20px auto;
        padding-left: 35px;
        cursor: pointer;
    }
}


@media (max-width:550px) {
    .add-button {
        button {
            height: 80%;
        }
    }
}