<div class="container">
    <div class="serch-form">
        <app-search-form (findClick)="findClick($event)"></app-search-form>
    </div>
    <div class="add-course">
        <div class="button__row">
            <div class="add-button">
                <button>Add course</button>
            </div>
        </div>
    </div>
    <div class="pages">
        <app-courses-page *ngFor="let course of courses" [course]="course" (starClicked)="changeRate(course)"
            (deleteClicked)="deleteComponent($event)">
        </app-courses-page>
        <div *ngIf="!courses.length" class="no-data">{{'No data. Feel free to add new courses' | uppercase}} </div>
    </div>
    <div class="load-more" *ngIf="courses.length >2">
        <app-load-more (loadClick)="loadNewCourses()"></app-load-more>
    </div>
</div>