<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="title__element">
                <div class="subtitle">
                    <h5>Title:</h5>
                </div>
                <div class="input">
                    <input formControlName="title" type="text">
                </div>
                <div class="errors">
                    <p *ngIf="courseForm.get('title')?.value.length > 50 && courseForm.get('title')?.touched"
                        class="invalid">The maximum title length is 50 symbols</p>
                    <p *ngIf="!courseForm.get('title') && courseForm.get('title')?.touched" class="invalid">Please
                        enter a title</p>
                </div>
            </div>
            <div class="descriotion__element">
                <div class="subtitle">
                    <h5>Description:</h5>
                </div>
                <div class="input">
                    <textarea formControlName="description" cols="30" rows="10"></textarea>
                </div>
                <div class="errors">
                    <p *ngIf="courseForm.get('description')?.value.length > 300 && courseForm.get('description')?.touched"
                        class="invalid">The maximum description length is 300 symbols</p>
                    <p *ngIf="!courseForm.get('description') && courseForm.get('description')?.touched" class="invalid">
                        Please enter a description</p>
                </div>
            </div>
            <div class="date__element">
                <div class="subtitle">
                    <h5>Date:</h5>
                </div>
                <app-calendar formControlName="creationDate">
                </app-calendar>
                <div class="errors">
                    <p *ngIf="courseForm.get('creationDate')?.invalid && courseForm.get('creationDate')?.touched"
                        class="invalid">Please enter or pick the date</p>
                </div>
            </div>
            <div class="duration__element">
                <div class="subtitle">
                    <h5>Duration:</h5>
                </div>
                <app-course-duration formControlName="duration">
                </app-course-duration>
                <div class="errors">
                    <p *ngIf="courseForm.get('duration')?.value ===null && courseForm.get('duration')?.touched"
                        class="invalid">Please, enter the duration in minutes</p>
                    <p *ngIf="courseForm.get('duration')?.value !==null && courseForm.get('duration')?.value <= 0 && courseForm.get('duration')?.touched"
                        class="invalid">Duration should be more than 0 min</p>
                </div>
            </div>
            <div class="authors__element">
                <div class="subtitle">
                    <h5>Authors:</h5>
                </div>
                <app-course-authors formControlName="authors"></app-course-authors>
                <div class="errors">
                    <p *ngIf="courseForm.get('authors')?.invalid" class="invalid">Should be at least one author</p>
                </div>
            </div>
            <div class=" management__block">
                <div class="submit__button">
                    <button type="submit" [disabled]="!courseForm.valid">Save</button>
                </div>
                <div class="cancel__button">
                    <button type="reset" (click)="backToCoursesList()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>