<form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="title__element">
                <div class="subtitle">
                    <h5>Title:</h5>
                </div>
                <div class="input">
                    <input [(ngModel)]="course.title" name="title" type="text">
                </div>
            </div>
            <div class="descriotion__element">
                <div class="subtitle">
                    <h5>Description:</h5>
                </div>
                <div class="input">
                    <textarea [(ngModel)]="course.description" name="description" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="date__element">
                <div class="subtitle">
                    <h5>Date:</h5>
                </div>
                <div class="input">
                    <input [(ngModel)]="course.creationDate" name="date" type="text">
                    <p>{{course.creationDate | date}}</p>
                </div>
            </div>
            <div class="duration__element">
                <app-course-duration [duration]="course.duration" (durationSubmit)="durationSubmit($event)">
                </app-course-duration>
            </div>
            <div class=" authors__element">
                <app-course-authors [authors]="authors" (authorsSubmit)="authorsSubmit($event)"></app-course-authors>
            </div>
            <div class="management__block">
                <div class="submit__button">
                    <button type="submit">Save</button>
                </div>
                <div class="cancel__button">
                    <button type="reset" (click)="onCancelButtonClick()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>