h5 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.container {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    width: 80%;
    height: 60%;
    min-width: 200px;
    min-height: 350px;

    div {
        padding: 1.5% 0;
    }
}

.row {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;

    p {
        color: red;
    }
}

input {
    box-sizing: border-box;
    width: 100%;
}

textarea {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
}

.authors__element {
    padding-bottom: 5%;
}


.management__block {
    display: flex;
}

.cancel__button {
    padding-left: 3%;
}