<div class="input" (click)="onInputDivClick()">
    <div class="input__wrapper">
        <input #input id="input" [formControl]="authors$" name="authors" type="text" (focus)="onFocus()"
            (blur)="onBlur()">
    </div>
    <div class="authors-in-input__wrapper">
        <div class="authors-in-input__list" (click)="stopPropagation($event)">
            <div class="authors-in-input__item" *ngFor="let author of currentAuthorsList">
                <div class="authors-in-input__author author">
                    <div class="author__wrapper" *ngIf="author">
                        <div class="author__item">
                            <div class="author__name">{{author}}</div>
                            <div (click)="onAuthorDeleteClick(author)" class="author__button">x</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="authors__wrapper" [hidden]="!showAuthorsList">
    <div class="authors__list" *ngFor="let author of authorsFilteredList">
        <p (click)="onAuthorNameClick(author)">{{author.fullName}}</p>
    </div>
</div>