<div class="container">
    <button class="close close1" (click)="onClick1()"></button>
    <button class="close close2"></button>
    <button class="close close3" (click)="onClick3()"></button>
    <button class="close close4" (click)="onClick4()"></button>


    <div class="message">Artur is <span *ngIf="toggle" (click)="toggle = !toggle" class="click">...</span>
        <span *ngIf="!toggle" class="molodyets">molodyets</span>
    </div>
    <div class="textclose" (click)="onClick5()">
        <p>close</p>
    </div>
</div>