.container {
    border: 5px solid red;
    background-color: rgb(141, 224, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 30%;

    width: 40%;
    height: 40%;

}


.close {
    border: none;
    cursor: pointer;
    position: absolute;

    height: 50px;
    width: 50px;
    background: url('https://emoji-uc.akamaized.net/orig/e9/001e2bfbab5b73752b6fba5f2aa197.png') no-repeat;
    background-size: 90% auto;
    padding-left: 0px;
}


.close1 {
    top: 0;
    left: 0;
}

.close2 {
    top: 0;
    right: 0;
}

.close3 {
    bottom: 0;
    left: 0;
}

.close4 {
    bottom: 0;
    right: 0;
}



.message {
    margin-bottom: 10%;
    font-size: 56px;



    .click {
        cursor: pointer;
    }

    .molodyets {
        color: rgb(225, 84, 215);
    }
}


.textclose {
    font-size: 7px;
    position: absolute;
    bottom: 3%;

    p {
        cursor: default;
    }
}