<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="container">
        <div class="row">
            <div class="title__element">
                <div class="subtitle">
                    <h5>Title:</h5>
                </div>
                <div class="input">
                    <input ngModel name="title" type="text">
                </div>
            </div>
            <div class="date__element">
                <div class="subtitle">
                    <h5>Description:</h5>
                </div>
                <div class="input">
                    <textarea ngModel name="description" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="date__element">
                <div class="subtitle">
                    <h5>Date:</h5>
                </div>
                <div class="input">
                    <input ngModel name="date" type="text">
                </div>
            </div>
            <div class="duration__element">
                <div class="subtitle">
                    <h5>Duration:</h5>
                </div>
                <div class="input">
                    <input ngModel name="duration" type="text">
                </div>
            </div>
            <div class="authors__element">
                <div class="subtitle">
                    <h5>Authors:</h5>
                </div>
                <div class="input">
                    <input ngModel name="authors" type="text">
                </div>
            </div>
            <div class="management__block">
                <div class="submit__button">
                    <button type="submit">Save</button>
                </div>
                <div class="cancel__button">
                    <button type="reset" (click)="onCancelButtonClick()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>