.main-container {

    height: 97vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.header {
    height: 7%;
}

.breadcrumbs {
    height: 7%;
}

.main {
    height: 79%;
    min-width: 600px;

    background: rgb(228, 225, 225);
}

.footer {
    height: 7%;
}



.test {
    // white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    padding: 5px;
    /* Поля */
    text-overflow: ellipsis;
    /* Многоточие */


}