.main-container {
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6%;
    min-width: 100%;
}

.breadcrumbs {
    min-height: 6%;
    background-color: white;
}


.main {
    padding-bottom: 1%;
    flex: 1 1 auto;
    height: 76%;
    width: 100%;
    background: rgb(228, 225, 225);
}

.main__block {
    height: 100%;
    width: 100%;
}

.footer {
    min-height: 6%;
    min-width: 100%;
}