.main-container {

    height: 97vh;
    display: flex;
    flex-direction: column;

}

.header {
    height: 7%;
}

.breadcrumbs {
    height: 7%;
}

.main {
    height: 79%;
    min-width: 600px;

    background: rgb(228, 225, 225);
}

.footer {
    height: 7%;
}



.newmessage {
    color: green;

    bottom: 38%;
    left: 40%;
    font-size: 50px;
    position: absolute;
    z-index: 10;



}