<div class="main-container">
    <div class="header">
        <app-header [currentUser]="user"></app-header>
    </div>
    <div class="main">
        <!-- 

        <app-login-page *ngIf="showLogIn" (onSubmitClick)="submitClick($event)"></app-login-page>
        <app-add-course-page *ngIf="showAddCourseForm"></app-add-course-page>

        <div *ngIf="!showLogIn" class="main__block">
            <app-pages-block (addButtonClicked)="addNewCourse()" *ngIf="!showAddCourseForm"></app-pages-block>
        </div> -->
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>