.main-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.header {
    height: 10%;
}

.breadcrumbs {
    height: 10%;
}

.main {
    height: 70%;
    min-width: 600px;

    background: rgb(228, 225, 225);
}

.footer {
    height: 10%;
}