.container {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    height: 50px;

    p {
        margin: 0;
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
        color: blue;

        &:active {
            color: red;
        }
    }
}