.container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.add-button {
    margin-right: 10%;
    min-height: 90%;
}

button {
    max-width: 120px;
    height: 90%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background: url('https://atlantic-freight.com/s/i/plus-button.png') no-repeat 10px rgb(79, 218, 79);
    background-size: 20px auto;
    padding-left: 35px;
    cursor: pointer;
}