.container {
    margin-left: 10%;
    height: 100%;
    padding: 1% 0;
    display: flex;
}

.input-form {
    height: 100%;
    max-width: 50%;
}

.find-button {
    height: 100%;
}

input {
    height: 80%;
    max-width: 80%;
    border: 1px solid rgb(188, 185, 185);
    border-radius: 5px;
    background: url('https://s1.iconbird.com/ico/0912/Radium/w256h2561348762832Search.png') no-repeat center left 5px;
    background-size: auto 76%;
    padding-left: 30px;
}

button {
    margin-left: 5px;
    min-height: 88%;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(79, 218, 79);
    cursor: pointer;
}